[Desktop Entry]
Type=Application
Exec=buildnotify
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en]=buildnotify
Name=buildnotify
Comment[en]=
Comment=
