[Desktop Entry]
Type=Application
Exec=thunderbird
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_US]=thunderbird
Name=thunderbird
Comment[en_US]=
Comment=
